@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}
.main-players {
  width: 100%;
  margin: 0 auto;
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 40px;
    ul {
      display: flex;
      overflow: hidden;
      animation: scroll 90s linear infinite;
		  display: flex;
		  width: calc(250px * 14);
      li {
        img {
          width: 410px;
          height: 450px;
        }
      }
    }
  }
}

