@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}
.main-players {
  width: 100%;
  height: calc(100vh - 60px);
  margin: 120px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    ul {
      display: flex;
      overflow: hidden;
      animation: scroll 90s linear infinite;
		  display: flex;
		  width: calc(250px * 14);
      li {
        img {
          width: 410px;
          height: 450px;
        }
      }
    }
  }
}

