.manage {
  width: 100%;
  margin: 0 auto;
  .container {
    width: 100%;
    height: 100%;
    .date-filter {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    .fee-box {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media all and (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
      }
      .manageBox-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 67px;
        padding: 0 40px;
        span {
          height: 67px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 18px;
        }
        img {
          width: 26px;
          height: 26px;
        }
      }
      .amount {
        width: 100%;
        height: 121px;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 40px;
        background: linear-gradient(180deg, #12131e 1%, rgba(0, 0, 0, 0.01) 100%);
        font-size: 34px;
        color: f5f5f5;
        font-weight: 700;
      }
      .category {
        display: flex;
        padding: 0 40px;
        align-items: center;
        justify-content: space-between;
        border-block: 1px solid #8A95A3;
        li {
          width: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          font-size: 15px;
          color: #8A95A3;
        }
      }
      .category-list {
        height: 100%;
        padding: 0 40px;
        display: display;
        align-items: center;
        justify-content: center;
        li {
          display: flex;
          justify-content: space-between;
          padding: 24px 0;
          span {
            width: 120px;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
  }
}