#playerInfo {
  width: 500px;
  height: 500px;
  padding-left: 10%;
  color: white;
  @media all and (max-width: 767px) {
    width: 40%;
    padding-left: 4%;
  }
  img {
    margin-top: 80px;
    width: 30%;
    height: auto;
    border-radius: 200px;
    background: rgba(255, 255, 255, 0.12);
  }
  h2 {
    width: 70%;
    padding: 20px 0;
    text-align: left;
    font-size: 1.6rem;
  }
  .play-style {
    width: 70%;
    border-bottom: 1px solid white;
    padding: 20px 0;
    .position {
      display: grid;
    }
  }
  .physical {
    width: 70%;
    padding: 20px 0;
    .height {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .age {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}