#main {
  width: 100vw;
  height: 100%;
  background: #0D0F19;
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    .section {
      width: calc(100vw - 80px);
      height: calc(100% - 112px);  // 헤더 112px 제외
      display: flex;
      align-items: center;
      justify-content: center;
      
      &.match, &.manage, &.community {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 120px 20px;
      }
      &.players {
        width: 100%;
        margin: 0 auto;
        padding: 120px 0;
      }
      @media (max-width: 767px) {
        max-width: 100%;
        padding: 0 20px; /* 작은 화면에서는 양옆 20px 여백 */
      }
    }
  }
}