#match {
  width: 100%;
  height: 100%;
  .container {
    width: 100%;
    padding: 0;
    .matchBox {
      width: 100%;
      padding: 130px 0;
      background-color: #0D0F19;
      .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .gap {
          color: white;
          transition: all 0.7s;
          @media all and (max-width: 1360px) {
            margin: 0 40px;
          }
          @media all and (max-width: 1023px) {
            margin: 0 16px;
          }
          .date-filter {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 28px;
            @media all and (max-width: 1023px) {
              padding-bottom: 24px;
              border-bottom: 3px solid #fff;
            }
            button {
              width: 44px;
              height: 44px;
              padding: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              border: 1px solid #000;
              border-radius: 100px;
              background: rgba(255, 255, 255, 0.10);
              cursor: pointer;
              img {
                width: 32px;
                height: 32px;
                @media all and (max-width: 767px) {
                  width: 16px;
                  height: 16px;
                }
                @media all and (max-width: 360px) {
                  width: 8px;
                  height: 8px;
                }
              }
            }
            .dateBox {
              width: 156px;
              color: #fff;
              text-align: center;
              font-family: Pretendard;
              font-size: 40px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              @media all and (max-width: 767px) {
                font-size: 22px;
              }
            }
          }
          .row2 {
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 48px 40px;
            margin: 32px 0;
            border-top: 3px solid white;
            border-bottom: 3px solid white;
            @media all and (max-width : 1023px) {
              display: none;
            }
            span {
              width: 200px;
              text-align: center;
            }
            
          }
          ul {
            margin-top: 30px;
            .row3 {
              height: 160px;
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              padding: 48px 40px;
              border-radius: 16px;
              background: rgba(255, 255, 255, 0.08);
              margin: 24px 0;
              transition: all 0.7s;
              @media all and (max-width: 1023px) {
                padding: 32px 24px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;
                align-self: stretch;
              }

              .left {
                color: #FFF;
                font-family: Pretendard;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                text-align: left;
                transition: all 0.7s;
                .matchDate {
                  width: 200px;
                  line-height: normal;
                }
                .matchPlace {
                  padding-top: 10px;
                  width: 200px;
                  line-height: normal;
                }
                @media all and (max-width: 1023px) {
                  font-size: 14px;
                  text-align: center;
                }
              }
              .center {
                color: white;
                text-align: center;
                .gap {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 32px;
                  transition: all 0.7s;
                  @media all and (max-width: 1238px) {
                    gap: 5px;
                  }
                  @media all and (max-width: 1023px) {
                    width: 100%;
                    gap: 20px;
                  }
                  @media all and (max-width: 767px) {
                    gap: 10px;
                  }
                  
                  

                  >span {
                    width: 72px;
                    font-size: 40px;
                    font-family: Pretendard;
                    font-weight: 700;
                    text-align: center;
                    @media all and (max-width: 525px) {
                      width: 50px;
                    }
                  }
                  
                  // VS
                  :nth-child(4) {
                    font-size: 32px;
                    @media all and (max-width: 767px) {
                      font-size: 20px;
                    }
                  }
                  
                  .homeTeam, .awayTeam {
                    font-size: 22px;
                    transition: all 0.7s;
                    @media all and (max-width: 767px) {
                      //display: none;
                      font-size: 16px;
                    }
                    @media all and (max-width: 525px) {
                      display: none;
                    }
                  }
                  i {
                    img {
                      width: 64px;
                      height: 64px;
                      @media all and (max-width: 767px) {
                        width: 32px;
                        height: 32px;
                      }
                      
                    }
                  }
                }
              }
              .right {
                width: 200px;
                color: white;
                text-align: right;
                font-size: 2rem;
                font-family: Pretendard;
                font-weight: 700;
                padding-right: 12px;
                @media all and (max-width: 1023px) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 