.main_match {
  width: 100%;
  max-width: 1280px;
  margin: 240px auto;
  .gap {
    width: 100%;
    overflow: hidden;
    ul {
      transition: transform 0.5s ease;
    }
    .main_latest_match {
      display: flex;
      height: 300px;
      background:linear-gradient(-45deg, #D6A700 50%, black 50%);
      border-radius: 40px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .home_team {
        display: grid;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        img {
          width: 120px;
          height: 120px;
          margin-bottom: 20px;
        }
      }
      .score_box {
        width: 200px;
        text-align: center;
        font-size: 50px;
        font-weight: 700;
      }
      .away_team {
        display: grid;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        img {
          width: 120px;
          height: 120px;
          margin-bottom: 20px;
        }
      }
    }
  }
}