#manage {
  width: 100%;
  height: 100%;
  background: url(../../../public/img/bg-1-manage.png) no-repeat center/cover fixed;
  .container {
    width: 100%;
    padding: 0;
    .title {
      width: 100%;
      height: 721px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.08) 100%);
      h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Play', sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .manageBox {
      width: 100%;
      padding: 130px 0;
      background: black;
      >.container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .gap {
          transition: all 0.7s;
            color: white;
            @media all and (max-width: 1360px) {
              margin: 0 40px;
            }
            @media all and (max-width: 1023px) {
              margin: 0 16px;
            }
          .total-money-box {
          width: 100%;
          max-width: 1280px;
          border-radius: 16px;
          background: rgba(255, 255, 255, 0.08);
          margin-bottom: 80px;
          @media all and (max-width: 767px) {
            margin-bottom: 60px;
          }
          .gap {
            padding: 56px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            font-weight: 700;
            padding: 56px;
            transition: all 0.7s;
            @media all and (max-width: 767px) {
              padding: 36px;
            }
            @media all and (max-width: 360px) {
              padding: 24px;
            }
            span {
              font-size: 32px;
              font-weight: 700;
              font-family: Pretendard;
              @media all and (max-width: 1023px) {
                font-size: 25px;
              }
              @media all and (max-width: 767px) {
                font-size: 22px;
              }
              @media all and (max-width: 360px) {
                font-size: 18px;
              }
            }
            .total-money {
              font-size: 32px;
              text-decoration: underline;
              font-weight: 700;
              font-family: Pretendard;
              @media all and (max-width: 1023px) {
                font-size: 25px;
              }
              @media all and (max-width: 767px) {
                font-size: 22px;
              }
              @media all and (max-width: 360px) {
                font-size: 18px;
              }
            }
            
          }
          }
          .row1 {
            width: 100%;
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border-bottom: 3px solid white;
            padding-bottom: 28px;
            @media all and (max-width: 767px) {
              padding-bottom: 24px;
            }
          button {
            display: flex;
            padding: 16px;
            align-items: center;
            gap: 10px;
            border: 1px solid #000;
            border-radius: 100px;
            background: rgba(255, 255, 255, 0.10);
            cursor: pointer;
            img {
              width: 32px;
              height: 32px;
              @media all and (max-width: 767px) {
                width: 16px;
                height: 16px;
              }
              @media all and (max-width: 360px) {
                width: 8px;
                height: 8px;
              }
            }
          }
          .dateBox {
            width: 156px;
            color: #fff;
            text-align: center;
            font-family: Pretendard;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @media all and (max-width: 767px) {
              font-size: 22px;
            }
            @media all and (max-width: 360px) {
              font-size: 16px;
            }
          }
          }

          .row2 {
            width: 100%;
            height: 90px;
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border-bottom: 3px solid white;
            padding: 48px 40;
            @media all and (max-width: 767px) {
              display: none;
            }
            div {
              // row3 하고 다시한번 체크
              width: 160px;
              text-align: center;

              :nth-child(3) {
                display: none;
              }
              // @media all and (max-width: 600px) {
              //   display: none;
              // }
            }
          }

          .row3 {
            margin-top: 28px;
            @media all and (max-width: 525px) {
              margin-top: 24px;
            }
            li {
              width: 100%;
              height: 90px;
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              padding: 48px 30px;
              border-bottom: 1px solid white;
              font-size: 20px;
              @media all and (max-width: 767px) {
                height: 200px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                padding: 24px 0;
              }
              div {
                transition: all 0.7s;
                @media all and (max-width: 767px) {
                  width: 256px;
                }
                @media all and (max-width: 543px) {
                  width: 172px;
                }
                @media all and (max-width: 376px) {
                  width: 150px;
                }
              }
              .player-month-name {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 9px;
                img {
                  border-radius: 100px;
                  background: rgba(255, 255, 255, 0.12);
                }
              }
              .player-month-money {
                text-align: center;
              }
              .player-month-date {
                text-align: center;
              }
              .player-month-money-check {
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                  border: 1px solid #D6B534;
                  border-radius: 50px;
                  padding: 6px 10px;
                  background: rgba(214, 181, 52, 0.08);
                }
              }
            }
          }
        }
      }
    }
  }
}