#match {
  width: 100%;
  height: 100%;
  background: url(../../../public/img/bg-1-match.png) no-repeat center/cover fixed;
  .container {
    width: 100%;
    padding: 0;
    .title {
      width: 100%;
      height: 721px;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Play', sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .matchBox {
      background-color: black;
      height: 100%;
      padding: 40px 0;
      >.container {
        width: 100%;
        .gap {
          color: white;
          margin: 0 320px;
          .row1 {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-bottom: 3px solid white;
            padding-bottom: 28px;
            button {
              display: flex;
              padding: 16px;
              align-items: center;
              margin: 10px;
              border-radius: 100px;
              background: rgba(255, 255, 255, 0.10);
              cursor: pointer;
              img {
                width: 32px;
                height: 32px;
              }
            }
            .dateBox {
              width: 156px;
              color: #fff;
              text-align: center;
              font-family: Pretendard;
              font-size: 40px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
          .row2 {
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 3px solid white;
            padding: 0 40px;
            /* @media all and (width < 1280px) {
              display: none;
            } */
            span {
              width: 130px;
              text-align: center;
            }
            
          }
          ul {
            margin-top: 30px;
            li {
              display: flex;
              height: 90px;
              justify-content: space-between;
              align-items: center;
              padding: 48px 40px;
              border-radius: 16px;
              background: rgba(255, 255, 255, 0.08);
              margin: 20px 0;
              /* @media all and (max-width : 1280px) {
                width: 100%;
                height: auto;
                display: flex;
                padding: 32px 24px;
                flex-direction: column;
                border-radius: 12px;
                background: rgba(255, 255, 255, 0.08);
              } */
              /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
     
              
              /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
         
              


              .left {
                width: 130px;
                text-align: center;
                color: white;
                font-size: 18px;
              }
              .center {
                color: white;
                text-align: center;
                .col-gap {
                  width: 558px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 32px;
                  >span {
                    width: 72px;
                    font-family: Pretendard;
                    font-weight: 700;
                    font-size: 22px;
                    text-align: center;
                  }
                  i {
                    padding: 15px;
                    img {
                      width: 64px;
                      height: 64px;
                    }
                  }
                }
              }
              .right {
                width: 130px;
                color: white;
                text-align: center;
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
}