#match {
  width: 100vw;
  height: 721px;
  background: url(../../../public/img/bg-1-match.png) no-repeat center/cover fixed;
  .container {
    width: 100%;
    padding: 20px auto;
    .title {
      width: 100%;
      height: 721px;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        color: #FFF;
        text-align: center;
        font-family: Play;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .matchBox {
      background-color: black;
      width: 100%;
      padding: 40px 0;
      .container {
        width: 100%;
        width: 1280px;
        margin: 0 auto;
        .row1 {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          border-bottom: 3px solid white;
          padding-bottom: 20px;
          button {
            display: flex;
            padding: 16px;
            align-items: center;
            gap: 10px;
            border-radius: 100px;
            background: rgba(255, 255, 255, 0.10);
            img {
              width: 32px;
              height: 32px;
            }
          }
          .dateBox {
          color: #FFF;
          text-align: center;
          font-family: Pretendard;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          }
        }
        .row2 {
          width: 100%;
          height: 90px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 3px solid white;
          padding: 0 100px;
          span {
            color: white;
            text-align: center;
          }
        }
        .row3 {
          width: 1280px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;
          .left {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            flex-direction: column;
            color: white;
          }
          .center {
            width: 650px;
            color: white;
            display: flex;
            margin: 0 90px;
            >div {
              width: auto;
              color: #FFF;
              font-family: Pretendard;
              font-weight: 700;
              font-size: 32px;
              padding: 32px;
              font-size: 22px;
            }
            i {
              img {
                width: 74px;
                height: 74px;
              }
            }
          }
          .right {
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
          }
        }
      }
    }
  }
}