#players {
  width: 100%;
  height: 100%;
  background: url(../../../public/img/bg-1-players.png) no-repeat center/cover fixed;
  .container {
    width: 100%;
    padding:0;
    .title {
      width: 100%;
      height: 721px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, #0D0F19 0%, rgba(0, 0, 0, 0.08) 100%);
      h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Play', sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .displayCountBox {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      background-color: #0D0F19;
      color: white;
      font-size: 30px;
    }
    .playerBox {
      width: 100%;
      padding: 130px 0;
      background: #0D0F19;
      .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        ul {
          display: flex;
          flex-flow: wrap;
          gap: 40px;
          align-items: center;
          justify-content: center;
          @media all and (max-width: 1360px) {
            margin: 0 40px;
          }
          @media all and (max-width: 1023px) {
            margin: 0 16px;
          }
          li {
            position: relative;
            width: 400px;
            height: auto;
            background: rgba(255, 255, 255, 0.08);
            background-size: contain;
            border-radius: 16px;
            transition: all 0.1s;
            :hover {background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, #0D0F19 100%);}
            img {
              width: 100%;
              height: 100%;
              padding-top: 46px;
              opacity: 1;
              display: block;
              backface-visibility: hidden;
            }
            .text {
              position: absolute;
              top:0;
              left:0;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: Pretendard;
              opacity:0;
              transition: 0.4s;
              color: white;
              &:hover {
                opacity:1;
              }
              .name {
                width: 92px;
                height: 26px;
                text-align: center;
                color: white;
                font-size: 22px;
                font-weight: 700;
                margin: 410px 140px 65px 140px;
                @media all and (max-width: 370px) {
                  margin: 330px 70px 40px 70px;
                }
              }
            }
          }
        }
      }
    }
    .pagination {
      width: 100%;
      height: 100%;
      background-color: #0D0F19;
      padding: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      .active {
        font-weight: 900;
      }
      .article-modal {
        background-color: red;
      }
    }
  }
}